<h1><%= @course.name %></h1>
<p><%= @course.description %></p>
<p><%= number_to_currency @course.price, unit: 'R$', separator: ',', delimiter: '.', format: '%u %n' %></p>
<p><%= @course.enrollment_deadline.strftime('%d/%m/%Y') %></p>
<p><%= @course.code %></p>